* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: #263238;
}

.wrapper {
  margin: auto;
  width: 99%;
}

ul {
  list-style: none;
}

.explorer-item {
  /* width: 25%; */
  width: 33.33%;
}

.coinlist-image {
  width: 50px;
}

.coinlist-item {
  display: flex;
}

.explorer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.coin-row {
  display: flex;
  flex-direction: row;
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}
